@import url("./css-settings.css");

.add-note-button {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  border: 1px solid var(--main-color-light-mode);
  background-color: var(--main-color-light-mode);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  position: absolute;
  right: 25%;
  bottom: 10%;
  cursor: pointer;
}
.add-note-button:hover {
  background-color: var(--hover-color-light-mode);
}
